html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex, .home__head, .home__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between, .home__head, .home__menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center, .home__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home {
  background-color: #101010;
  height: 100vh;
}

.home__container {
  padding-top: 50px;
  width: 1450px;
  margin: 0 auto;
}

.home__head {
  height: 40px;
  overflow: hidden;
}

.home__reset {
  color: #bbbbbb;
  font-weight: 700;
}

.home__reset--white {
  color: white;
}

.home__menu {
  width: 35%;
}

.home__item {
  position: relative;
  height: 100%;
}

.home__item--link {
  color: #bbbbbb;
  font-size: 15px;
  font-weight: 700;
  display: block;
  position: relative;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

.home__item--link:hover {
  color: white;
}

.home__item--icon {
  color: #bbbbbb;
}

.home__item--active {
  color: white !important;
}

.home__item--hover {
  position: absolute;
  right: 0px;
  opacity: .2;
  bottom: -35px;
  color: #bbbbbb;
  font-size: 15px;
  font-weight: 600;
}

.home__item:hover .home__item--link {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  opacity: .2;
}

.home__item:hover .home__item--hover {
  opacity: 1 !important;
}
