html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex, .home__head, .home__menu, .home__item, .home__dropdown--item, .home__dropdown--link, .home__sosial, .home__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between, .home__head, .home__menu, .home__dropdown--item, .home__dropdown--link {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center, .home__head, .home__item, .home__dropdown--item, .home__dropdown--link, .home__sosial, .home__footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.border-none {
  border: none !important;
}

.home {
  background-color: #101010;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

.home__container {
  border: 1px solid white;
  position: relative;
  height: inherit;
  width: 95%;
  height: inherit;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.home__head {
  border: 1px solid white;
  height: 40px;
}

.home__reset {
  color: #bbbbbb;
  font-weight: 700;
}

.home__reset--white {
  color: white;
}

.home__menu {
  height: inherit;
  width: 35%;
}

.home__item {
  overflow: hidden;
  position: relative;
  height: inherit;
}

.home__item--link {
  color: #bbbbbb;
  font-size: 15px;
  font-weight: 800;
  display: block;
  position: relative;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

.home__item--link:hover {
  color: white;
}

.home__item--icon {
  color: #bbbbbb;
}

.home__item--active {
  color: white !important;
}

.home__item--hover {
  position: absolute;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  bottom: -52.5px;
  color: #bbbbbb;
  font-size: 15px;
  font-weight: 800;
  height: inherit;
  width: inherit;
  display: block;
}

.home__item:hover {
  overflow: visible;
}

.home__item:hover .home__dropdown {
  visibility: visible;
  opacity: 1;
}

.home__item:hover .home__dropdown--contacts {
  visibility: visible;
  opacity: 1;
}

.home__item:hover .home__item--link {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  opacity: 0;
  visibility: visible;
}

.home__item:hover .home__item--hover {
  opacity: 1 !important;
}

.home__dropdown {
  position: absolute;
  top: 40px;
  width: 180px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  opacity: 0;
  visibility: hidden;
}

.home__dropdown--sign {
  height: 10px;
  width: 10px;
  background-color: #1E1E1E;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 0 -5px 10px;
}

.home__dropdown--item {
  height: 50px;
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1E1E1E;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  position: relative;
}

.home__dropdown--link {
  overflow: hidden;
  height: 25px;
  width: 100px;
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  margin-left: 25px;
}

.home__dropdown--link:hover .home__dropdown--up {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  color: white;
  visibility: hidden;
  opacity: 0;
}

.home__dropdown--link:hover .home__dropdown--down {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: white;
  visibility: visible;
  opacity: 1;
}

.home__dropdown--up {
  position: absolute;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  visibility: visible;
  opacity: 1;
}

.home__dropdown--down {
  position: absolute;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  visibility: hidden;
  opacity: 0;
}

.home__dropdown--contacts {
  position: absolute;
  top: 40px;
  right: 0;
  width: 180px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  opacity: 0;
  visibility: hidden;
}

.home__sign--contacts {
  position: absolute;
  right: 10px;
  top: -5px;
}

.home__info {
  border: 1px solid white;
  position: relative;
  margin-top: 25%;
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home__info--desc {
  color: white;
  position: absolute;
  left: 50%;
  right: 12em;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
}

.home__info--name {
  font-weight: 600;
  color: green;
}

.home__sosial {
  border: 1px solid white;
  position: absolute;
  right: -120px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home__sosial--follow {
  color: #bbb;
  font-size: 15px;
}

.home__sosial--line {
  background-color: #bbb;
  width: 50px;
  height: 1px;
  margin: 0 20px;
}

.home__sosial--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__sosial--icon {
  margin-right: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.home__sosial--link {
  color: #bbb;
  font-size: 20px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.home__sosial--link:hover {
  color: white;
}

.home__footer {
  border: 1px solid white;
  margin-top: 85px;
  height: 80px;
}

.home__contact {
  margin-right: 75px;
}

.home__contact--email {
  color: white;
}

.home__contact--number {
  display: block;
  color: white;
  margin-top: 15px;
}

.home__about {
  color: white;
}

.home__about--first {
  display: block;
  font-size: 75px;
}

@media (max-width: 1198px) {
  .home__menu {
    display: none;
  }
  .home__sosial--follow {
    opacity: 0;
  }
  .home__sosial--line {
    opacity: 0;
  }
  .home__about {
    font-size: 55px;
  }
  .home__contact {
    display: none;
  }
  .home__info--desc {
    position: static;
    width: 350px;
    margin-left: 50%;
  }
}

@media (max-width: 720px) {
  .home__about {
    font-size: 25px;
    padding-top: 200px;
  }
  .home__info--desc {
    margin: 0;
    width: 100%;
  }
}
