.home{
    height: 100vh;
    opacity: 1;
    transition: all ease 2s;
    position: relative;
    &__box{
        border: 1px solid rgba(255,255,255,0.07);
        position: absolute;
        background:none;
        left: 50%;
        transform: translateX(-50%);
        transition: all linear 1s;
    }
    &__container{
        box-sizing: border-box;
        position: relative;
        height: inherit;
        width: $container-width - 8%;
        padding-top: $space-10x !important;
        box-sizing: border-box;
        margin: 0 auto;
        &--project{
            border-radius: 50%;
            border: 3px solid white;
            position: absolute;
            left: 0%;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
        }
        &--pro{
            border: 3px solid white;
            width: 0px;
            height: 270px;
            position: absolute;
            left: 50%;
            top:50%;
            transform: translateY(-50%);
            z-index: -5;
            transition: all linear .5s;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: -10px -10px 20px white;
            overflow: hidden;
            & i{
                color: white;
                font-size: 30px;
            }
        }
        &--about{
            width: 60%;
            height: 100%;
            padding: 20px 0;
            box-sizing: border-box;
            font-size: 20px;
            line-height: 35px;
            color: white;
        }
        &--github{
            color: green;
        }
        &--portrait{
            border: 3px solid white;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            position: relative;
            box-shadow: -5px -5px  10px white;
        }
        &--image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__head{
        height: $size-8x;
        @extend .flex;
        @extend .justify-content-between;
        @extend .align-items-center;
        transition: all ease .5s;
    }
    &__reset{
        color: $main-color;
        font-weight: $weight-7;
        font-size: 25px;
        &--white{
            color:white;
        }
    }
    // home bar
    &__bar{
        width: $size-6x;
        height: $size-4x;
        position: relative;
        visibility: hidden;
        @extend .flex;  
        @extend .align-items-center;
        &--design{
            display: block;
            width: inherit;
            height: 2px;
            background-color: white;
            &::after{
                content: '';
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                bottom: 0;
                left: 0; 
            }
            &::before{
                content: '';
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
            }      
        }  
    }
    &__bar--close{
        font-size: $size-7x;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: none;
    }
    // home menu 
    &__menu{  
        height: 40px !important;
        width: 35%;
        @extend .flex;
        @extend .justify-content-between;
    &__item{
        overflow: hidden;
        position: relative;
        height: inherit;
        @extend .flex;
        @extend .align-items-center;
        }
        &--link{
            color: $main-color;
            font-size: $size-3x;
            font-weight: $weight-8;
            display: block;
            position: relative;
            transition: all ease .4s;
        }
        &--link:hover{
            color: white; 
        }
        &--icon{
            color: $main-color;
        }
        &--active{
            color: white !important;
        }
        &--hover{
            position: absolute;
            right: 0px;
            opacity: 0;
            visibility: hidden;
            bottom: -$space-7x*1.5;
            color: $main-color;
            font-size: $size-3x;
            font-weight: $weight-8;
            height: inherit; 
            width: inherit;
            display: block;
            
        }
    }
    &__item:hover{
        overflow: visible;
        .home__dropdown{
            visibility: visible;
            opacity: 1;

        }
        .home__dropdown--contacts{
            visibility: visible;
            opacity: 1;
        }
        .home__item--link{
            transform: translateY(-$space-8x);
            opacity: 0;
            visibility: visible;
        }
        .home__item--hover{
            opacity: 1 !important;
        }
    
    }
    &__dropdown{
        position: absolute;
        top: $size-8x;
        width: $size-18x*2;
        transition: all ease .4s;
        opacity: 0;
        visibility: hidden;
        &--sign{
            height: $size-2x;
            width: $size-2x;
            background-color: $fourth-color;
            transform: rotate(45deg);
            margin: 0 0 -5px 10px;
        }
        &--item{
            height: $size-10x;
            width: $size-18x*2;
            box-sizing: border-box;
            background-color: $fourth-color;
            border-top: 1px solid rgba(255,255,255,0.07);
            position: relative;
            @extend .flex;
            @extend .justify-content-between;
            @extend .align-items-center;
            
        }
        &--link{
            overflow: hidden;
            height: $size-5x;
            width: $size-20x;
            color: $main-color;
            font-size: $size-3x - 3;
            font-weight: $weight-7;
            position: relative;
            margin-left: $space-5x;
            @extend .flex;
            @extend .align-items-center;
            @extend .justify-content-between;
        }
        &--link:hover{
            .home__dropdown--up{
                transform: translateY(-150%);
                color: white;
                visibility: hidden;
                opacity: 0;

            }
            .home__dropdown--down{
                transform: translateY(0%);
                color: white;
                visibility: visible;
                opacity: 1;
            }
        }
        &--up{
            position: absolute;
            transition: all ease .4s;
            visibility: visible;
            opacity: 1;

        }
        &--down{
            position: absolute;
            transform: translateY(150%);
            transition: all ease .4s;
            visibility: hidden;
            opacity: 0;
        }
        &--contacts{
            position: absolute;
            top: $size-8x;
            right: 0;
            width: $size-18x*2;
            transition: all ease .4s;
            opacity: 0;
            visibility: hidden;
        }

    }
    &__sign--contacts{
        position: absolute;
        right: $space-2x;
        top: -$space-x;
    }
    // home desc
    &__info{
        position: relative;
        margin-top: 300px;
        width: 100%;
        height: $size-12x;
        box-sizing: border-box;
        &--desc{
            color: white;
            position: absolute;
            left: 50%;
            right: 12em;
            font-size: $size-4x;
            font-weight: $weight-1;
            line-height: $size-6x;
        }
        &--name{
            font-weight: $weight-6;
            color: green;
        }
    }
    // home sosial
    &__sosial{
        position: absolute;
        right: -$space-3x*8;
        transform: rotate(90deg);
        @extend .flex;
        @extend .align-items-center;
        &--follow{
            color: $thirdary-color;
            font-size: $size-3x;
        }
        &--line{
            background-color: $thirdary-color;
            width: $size-10x;
            height: 1px;
            margin: 0 $space-4x;
        }
        &--icons{
            display: flex;
        }
        &--icon{
            margin-right: $space-4x; 
            transform: rotate(-90deg);
        }
        &--link{
            color: $thirdary-color;
            font-size: $size-4x;
            transition: all ease .3s;
        }
        &--link:hover{
            color: white;
        }
    }
    // home footer
    &__footer{
        margin-top: $space-17x;
        height: $size-16x;
        @extend .flex;
        @extend .align-items-center;
    }
    &__contact{
        margin-right: $space-15x;
        &--email{
            color: white;
        }
        &--number{
            display: block;
            color: white;
            margin-top: $space-3x;
        }
    }
    &__about{
        color: white;
    }
    &__about--first{
        display: block;
        font-size: $size-15x;
    }
    // home navpage
    &__navpage{
        border: 1px solid white;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        top: 0;
        background-color: $secondary-color;
        transition: all ease 1s;
        position: absolute;
        .home__dropdown--item{
            width: 100%;
            height: $size-9x;
            @extend .flex;
            @extend .justify-content-center;
            
            
        }
        .home__dropdown--link{
            margin: 0;
            @extend .flex;
            @extend .justify-content-center;
        }
        .home__dropdown--sign{
            margin: -5px auto;
        }
    }
}


@keyframes project{
    0%{height: 0;
    width: 0;}
    50%{height: 230px;
    width: 0;}
    100%{height: 230px; width: 300px;}
}

@keyframes backpro{
    0%{height: 230px; width: 300px;}
    50%{height: 230px; width: 0;}
    100%{height: 0; width: 0;}
}


@media (max-width: 1900px)and(min-width: 1198px){
    .home__navpage{
        display: none;
    }
    .home__bar{
        display: none;
    }
    

}
    
// Responsive
@media (max-width: 1198px){
    .home__info{
        margin-top: 380px;
    }
    .home{
        height: 100vh;
    }
    .home__menu{
        display: none;
    }
    .home__sosial--follow{
        opacity: 0;
    }
    .home__sosial--line{
        opacity: 0;
    }
    .home__about{
        font-size: $size-11x;
    }
    .home__contact{
        display: none;
    }
    .home__info--desc{
        position: static;
        width: 350px;
        margin-left: 50%;
    }
    .home__bar{
        visibility: visible;
    }
    .home__container--project{
        top: 40%;
        
    }

}
@media (max-width: 720px){
    .home{
        height: 750px !important;
    }
    .home__info{
        transition: all ease 1s;
        margin-top: 250px;
    }
    .home__container{
        padding: 0 !important;
    }
    .home__head{
        background-color: $secondary-color !important;
        padding: 15px 0;
    }
    .home__reset{
        font-size: 20px;
    }
    .home__bar{
        width: 25px !important;
        height: 15px !important;
    }
    .home__box{
        width: 0;
        border-left: 0;
    }
    .home__about{
        font-size: $size-5x;
        
    }
    .home__info--desc{
        margin: 0;
        width: 100% !important;
        font-size: $size-3x;
    }
    .home__container--project{
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
    }
    .home__container--pro{
        background-color: $secondary-color;
        height: 0;
    }
    .home__container--about{
        transform: rotate(-90deg);
        font-size: 15px;
        width: 70%;
    }
    .home__container--portrait{
        width: 150px;
        height: 150px;
        box-shadow: none;
        transform: rotate(90deg);
        transition: all ease 1s;

    }
    .home__container--image{
        transform: rotate(-90deg);
    }
    .only__home--navpage{
        top: 80px !important;
    }

}


