.home{
    background-color: $secondary-color;
    object-fit: cover;
    height: 100vh;
    &__container{
        position: relative;
        height: inherit;
        width: $container-width;
        margin: 0 auto;
    }
    &__head{
        height: 40px;
        overflow: hidden;
        padding-top: $space-10x;
        @extend .flex;
        @extend .justify-content-between;
        @extend .align-items-center;
    }
    &__reset{
        color: $main-color;
        font-weight: $weight-7;
        &--white{
            color:white;
        }
    }
    &__menu{
        width: 35%;
        @extend .flex;
        @extend .justify-content-between;
    }
    &__item{
        position: relative;
        height: 100%;
        &--link{
            color: $main-color;
            font-size: $size-3x;
            font-weight: $weight-7;
            display: block;
            position: relative;
            transition: all ease .4s;
        }
        &--link:hover{
            color: white; 
        }
        &--icon{
            color: $main-color;
        }
        &--active{
            color: white !important;
        }
        &--hover{
            position: absolute;
            right: 0px;
            opacity: .2;
            bottom: -$space-7x;
            color: $main-color;
            font-size: $size-3x;
            font-weight: $weight-6; 
        }
    }
    &__item:hover{
        .home__item--link{
            transform: translateY(-$space-7x);
            opacity: .2;
        }
        .home__item--hover{
            opacity: 1 !important;
        }
    
    }
    // home desc
    &__info{
        position: relative;
        margin-top: 25%;
        width: 100%;
        height: $size-12x;
        box-sizing: border-box;
        &--desc{
            color: white;
            position: absolute;
            left: 50%;
            right: 12em;
            font-size: $size-4x;
            font-weight: $weight-1;
            line-height: $size-6x;
        }
        &--name{
            font-weight: $weight-6;
            color: green;
        }

    }
    // home sosial
    &__sosial{
        position: absolute;
        right: -$space-3x*8;
        transform: rotate(90deg);
        @extend .flex;
        @extend .align-items-center;
        &--follow{
            color: $thirdary-color;
            font-size: $size-3x;
        }
        &--line{
            background-color: $thirdary-color;
            width: $size-10x;
            height: 1px;
            margin: 0 $space-4x;
        }
        &--icons{
            display: flex;
        }
        &--icon{
            margin-right: $space-4x; 
            transform: rotate(-90deg);
        }
        &--link{
            color: $thirdary-color;
            font-size: $size-4x;
            transition: all ease .3s;
        }
        &--link:hover{
            color: white;
        }
    }
    // home footer
    &__footer{
        border: 1px solid white;
        margin-top: $space-17x;
        @extend .flex;
        @extend .align-items-center;
    }
    &__contact{
        margin-right: $space-15x;
        &--email{
            color: white;
        }
        &--number{
            display: block;
            color: white;
            margin-top: $space-3x;
        }
    }
    &__about{
        color: white;
    }
    &__about--first{
        display: block;
        position: relative;
        font-size: $size-15x;
    }
    &__about--second{
        position: relative;
        display: none;
        font-size: $size-15x;
    }
    &__about--third{
        display: none;
    }
    &__about--animation{
        background-color: black;
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0;
    }
}


