// portfolio
.portfolio{
    border: 1px solid rgba(255,255,255,0.07);
    width: 65%;
    margin: 0 auto;
    background: none;
    @extend .flex;
    flex-wrap: wrap;
    position: relative;
    &__container{
        padding-top: 0 !important;
    }
    &__container--name{
        font-size: $size-14x;
        font-weight: $weight-7;
        color: white;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &__head{
        position: fixed;
        top: $space-10x;
        left: 50%;
        width: inherit;
        transform: translate(-50%);
        z-index: 10;
    }
    &__sosial{
        position: fixed;
        right: -$space-13x;
        bottom: $size-15x*2;
    }
    &__footer{
        position: fixed;
        bottom: $size-8x;
        height: $size-16x;
    }
    &__box{
        border: 1px solid rgba(255,255,255,0.07);
        background: none;
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    &__nav{
        position: absolute;
        top: $space-14x*9;
        left: $space-6x;
    }
    &__back{
        color: white;
        font-size: $size-3x;
    }
    &__active{
        color: $thirdary-color;
        font-size: $size-3x;
    }
    &__navbar{
        border: 1px solid rgba(255,255,255,0.07);
        margin: $space-20x*9 0 $space-15x 0;
        padding: $space-9x $space-9x;
        box-sizing: border-box;
        background-color: $secondary-color;
        display: flex;
        align-items: center;
        z-index: 1;
        &--items{
            height: 20px;
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
        &--link{
            color: white;
            font-size: $size-3x+1;
        }
    }
    &__link--active{
        color: $font-color-first;
    }
    &__parent{
        border: 1px solid red;
        height: 4000px;
        margin-bottom: $space-15x;
        position: relative;
        &--img{
            background-color: blue;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__gallery--left{
        position: absolute;
        top: 0;
        left: 0;
        height: 600px;
        width: 50%;
        background-color: red;
        padding-right: $size-10x; 
        box-sizing: border-box;
    }
    &__gallery--right{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 600px;
        padding-left: $size-10x;
        box-sizing: border-box;
        background-color: red;
    }
    &__content{
        position: absolute;
        left: 0;
        top: 700px;
        width: 50%;
        height: 270px;
        padding-right: $size-10x;
        box-sizing: border-box;
        background-color: red;
        
    }
    &__video{
        position: absolute;
        right: 0;
        top: 700px;
        width: 50%;
        height: 600px;
        padding-left: $size-10x;
        box-sizing: border-box;
        background-color: red;

    }
    &__link{
        position: absolute;
        left: 0;
        top: 1070px;
        width: 50%;
        height: 270px;
        padding-right: $size-10x;
        box-sizing: border-box;
        background-color: red;

    }
    &__music{
        position: absolute;
        right: 0;
        top: 1400px;
        width: 50%;
        height: 270px;
        padding-left: $size-10x;
        box-sizing: border-box;
        background-color: red;
    }

}


@media (max-width: 1900px)and(min-width: 1198px){
    .home__navpage{
        display: none;
    }
    .home__bar{
        display: none;
    }
    

}
    
// Responsive
@media (max-width: 1198px){
    .home{
        height: 100vh;
    }
    .home__menu{
        display: none;
    }
    .home__sosial--follow{
        opacity: 0;
    }
    .home__sosial--line{
        opacity: 0;
    }
    .home__about{
        font-size: $size-11x;
    }
    .home__contact{
        display: none;
    }
    .home__info--desc{
        position: static;
        width: 350px;
        margin-left: 50%;
    }
    .home__bar{
        visibility: visible;
    }

}
@media (max-width: 720px){
    .home{
        height: 100vh;
    }
    .home__about{
        font-size: $size-5x;
        
    }
    .home__info--desc{
        margin: 0;
        width: 80%;
        font-size: $size-3x;
    }
    

}


